// Define variables for your color scheme

// For example:
$int-red: #BF0603;
$dark-red: #8D0801;
$oxford-blue: #001427;
$buff-yellow: #F4D58D;
$orange: #E67E22;
$xanadu-green: #708D81;
$gray: #0E0000;
$light-gray: #F4F4F4;
