<div class="navbar-lewagon">
  <h1>Mister Cocktails !</h1>
</div>
<div class="container">
 <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached? %>
      <div class="card-category" style="background-image: url('<%= cl_image_path cocktail.photo.key, alt: cocktail.name, width: 400, height: 300, crop: :fill %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail)%>
      </div>
    <% else %>
      <div class="card-category rand-image">
        <%= link_to cocktail.name, cocktail_path(cocktail)%>
      </div>
    <% end %>
  <% end %>
  <div class="card-category rand-image new-cocktail">
    <%= link_to 'new cocktail', new_cocktail_path %>
  </div>
</div>
</div>

